.myTypist {
   font-weight: bold;
   z-index: 100;
   stroke: black;
   font-size: 44px;
   color: #576d99;
}
.typistHolderDiv {
   z-index: 100;
   grid-area: Typist;
   justify-self: center;
   align-self: start;
}

.fullAppPage {
   width: 100vw;
   height: auto;
   display: grid;
   grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
   grid-template-columns: 0.2fr 3fr 0.2fr;
   grid-template-areas:
      ". . ."
      ". pic . "
      ". title ."
      ". Typist ."
      ". . .";
}

.pictureBox {
   grid-area: pic;
   justify-self: center;
   align-self: center;
}
.titleholder {
   grid-area: title;
   justify-self: center;
   align-self: start;
   color: #576d99;
}
