.myTypist {
   font-weight: bold;
   stroke: black;
   font-size: 44px;
   color: #576d99;
}

.fullAppPage {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.pictureBox {
   margin-top: 5%;
}

.titleholder {
   margin-top: 5%;
   color: #576d99;
}
.typistHolderDiv {
   margin-top: 6%;
}
